.details-main {
  display: flex;
  flex: 1;
  height: fit-content;
  border: 2px solid black;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  position: relative;
}
.product-name {
  font-weight: 700;
  font-size: 22px;
  top: -23px;
  position: absolute;
  background: white;
  padding: 5px;
}
.details-main,
input[type="text"] {
  width: 100%;
  border: 2px solid black;
}
.details-main,
.textarea {
  width: 100%;
  border: 2px solid black;
  min-height: 150px;
}
input[type="number"] {
  width: 100px;
  border: 2px solid black;
}
.submit-details {
  align-items: flex-end;
}
.price {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-weight: 700;
}
.details-main > img {
  height: 80px;
  width: 80px;
}
